@import url('https://rsms.me/inter/inter.css');

:root {
  --F1: 12px;
  --F2: 14px;
  --F3: 16px;
  --F4: 18px;
  --F5: 20px;
  --F6: 24px;
  --F7: 30px;
  --F8: 36px;
  --F9: 48px;
  --F10: 60px;
  --F11: 72px;
  /* https://yeun.github.io/open-color/gray-color.html */
  --gray0: #f8f9fa;
  --gray1: #f1f3f5;
  --gray2: #e9ecef;
  --gray3: #dee2e6;
  --gray4: #ced4da;
  --gray5: #adb5bd;
  --gray6: #868e96;
  --gray7: #495057;
  --gray8: #565a5e;
  --gray9: #212529;
  --purple9: #5f3dc4;
  --purple0: #f3f0ff;
}

body *,
html * {
  max-width: 35em;
  word-wrap: break-word;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--F3);
  background-color: var(--gray0);
  color: var(--gray9);
  line-height: 26px;
}

body {
  padding: 15px;
  margin: 0 auto;
}

/* FONT STYLES */

h1 {
  font-size: var(--F6);
}

h2 {
  font-size: var(--F4);
}

h3 {
  font-size: var(--F2);
  text-transform: uppercase;
  color: var(--gray6);
}

a {
  color: var(--purple9);
  text-decoration: none;
}

a:hover {
  background-color: var(--purple0);
}

footer p,
footer a {
  font-size: var(--F1);
  color: var(--gray5);
  text-decoration: none;
}

#social-links a:hover,
footer a:hover {
  background-color: #fff;
}

p {
  margin: var(--F5) 0;
}

/* WELCOME SECTION & LINKS */

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-subtitle {
  display: none;
}

#social-links {
  margin-top: 5px;
  display: block;
}

.social-icons {
  width: 20px;
  height: 20px;
  margin: 5px;
}

section {
  margin-top: 50px;
}
