@import url('https://rsms.me/inter/inter.css');
@import './seasons.css';
@import './open-color.css';
@import './sizing.css';

body *,
html * {
  max-width: 60ch;
  word-wrap: break-word;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: var(--F3);
  background-color: var(--oc-gray-0);
  color: var(--oc-gray-9);
  line-height: 1.7rem;
  word-break: break-word;
}

body {
  padding: 15px;
  margin: 0 auto;
}

/* FONT STYLES */

h1 {
  font-size: var(--F6);
}

h2 {
  font-size: var(--F5);
}

h3 {
  font-size: var(--F2);
  text-transform: uppercase;
  color: var(--oc-gray-6);
}

/* LINKS  */
a {
  color: var(--spring);
  text-decoration: none;
}

a:hover {
  background-color: var(--spring-light);
}

footer p,
footer a {
  font-size: var(--F1);
  color: var(--oc-gray-5);
  text-decoration: none;
}

#social-links a:hover,
footer a:hover {
  background-color: var(--oc-gray-0);
}

p {
  margin: var(--F5) 0;
}

/* WELCOME SECTION & LINKS */

#welcome {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#welcome-subtitle {
  display: none;
}

#social-links {
  margin-top: 5px;
  display: block;
}

.social-icons {
  width: 20px;
  height: 20px;
  margin: 5px;
}

section {
  margin-top: 50px;
}
